.modelWrapper {
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 1px;
    display: flex;
    font-family: Calibri;
    font-size: 12pt;
    border: solid 1px transparent;

    &:hover {
        border: solid 1px;
        border-color: white gray gray white;
    }
}

.selection {
    width: 8px;
    flex: 0 0 auto;
}

.childSelected {
    background-color: #bbf;
}

.selected {
    background-color: #00f;
}

.body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.titleBar {
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    font-weight: bold;
    padding: 0 5px;
    float: left;
}

.subTitle {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleWithBorder {
    border-bottom: solid 1px #888;
}

.expandedBody {
    background-color: #eee;
    padding: 4px;
}
